/** POLICES PERSONNALISEES **/

@font-face {
    font-family: Raleway;
    src: url('polices/Raleway-Italic-VariableFont_wght.ttf;') format(Truetype);
    src: url(polices/Raleway-VariableFont_wght.ttf) format(Truetype);
    src: url('polices/static/Raleway-Black.ttf') format(Truetype) ;
    src: url('polices/static/Raleway-BlackItalic.ttf');
    src: url('polices/static/Raleway-Bold.ttf');    
    src: url('polices/static/Raleway-BoldItalic.ttf');
    src: url('polices/static/Raleway-ExtraBold.ttf');
    src: url('polices/static/Raleway-ExtraBoldItalic.ttf');
    src: url('polices/static/Raleway-ExtraLight.ttf');
    src: url('polices/static/Raleway-ExtraLightItalic.ttf');
    src: url('polices/static/Raleway-Italic.ttf');
    src: url('polices/static/Raleway-Light.ttf');
    src: url('polices/static/Raleway-LightItalic.ttf');
    src: url('polices/static/Raleway-Medium.ttf');
    src: url('polices/static/Raleway-MediumItalic.ttf');
    src: url('polices/static/Raleway-Regular.ttf');
    src: url('polices/static/Raleway-SemiBold.ttf');
    src: url('polices/static/Raleway-SemiBoldItalic.ttf');
    src: url('polices/static/Raleway-Thin.ttf');
    src: url('polices/static/Raleway-ThinItalic.ttf');
    font-style: normal;

}


/** HEADER  **/

.headerdesktop
{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 8px;
}

.logo
{
    height: 60%;
    align-self: center;
}

.menu
{
    display: flex;
}

.listmenu
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 8px;
}

.listelement
{
    width: 200px;
    margin-top: -24px;
    padding: 40px 0px 0px 0px;
    font-size: 1.4em;
}

.listelement:hover
{   
    border-top: 2px solid #0065FC; 
}

.linkmenu:hover
{
    color: #0065FC;
}

.btnregistration
{
    font-family: "Ralewaybold";
    color: #0065FC;
    padding-left: 15px;
    padding-top: 32px;
    font-size: 1.4em;
}

/** SECTION */
/* Title page */

.titlepage
{
    font-family: "Ralewaybold";
    font-size: 1.5em;
}

.titledescription
{
    margin-top: -5px;
    font-size: 1.1em;
    font-family: "Raleway";
}

/* Button destination */

.btndestination
{
    display: flex;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icnsearch
{
    background-color: #F2F2F2;
    padding: 14px;
    border-radius: 15px 0px 0px 15px;
}

.input
{
    border: 1px solid#F2F2F2;
    border-right: none;
    font-family: "Ralewaybold";
    outline: none;
    padding: 0px 15px 0px 25px;
    margin-right: -50px;
    font-size: 1.2em;
}

.input::placeholder
{
    color: black;
}

.btnsearch
{
    font-family: "Raleway600";
    background-color: #0065FC;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    cursor: pointer;
    font-size: 1.2em;
}

.btnsearch2
{
    display: none;
}

/* Filtres */

.filtres
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.titlefiltres
{
    font-family: "Ralewaybold";
    font-size: 1.2em;
    margin-right: 30px;
}

.filtreselement
{
    display: flex;
    flex-wrap: wrap;
}

.btn
{
    display: flex;
    align-self: center;
    border: 1px solid #cecece;
    border-radius: 15px 30px 30px 15px;
    background-color: white;
    margin-right: 30px;
    margin-top: 5px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    height: 35px;
}

.btn:hover
{
    background-color: #DEEBFF;
    transition: 0.5s;
    border: 1px solid #DEEBFF;
}

.icnbtn
{
    padding: 11px;
    margin-left: -8px;
    border-radius: 30px;
    align-self: center;
    background-color: #DEEBFF;
    color: #0065FC;
}

.btntext
{
    align-self: center;
    font-family: "Ralewaybold";
    padding: 0px 15px 0px 8px;
    font-size: 1.2em;
}

/* Information */

.info
{
    display: flex;
}

.icninfo
{
    align-self: center;
    margin-right: 5px;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    font-size: 1em;
    padding: 3px 8px 3px 8px;
    margin-bottom: 2px;
}

.txtinfo
{
    align-self: center;
    font-size: 1.1em;
    font-family: "Raleway300";
}
/** FOOTER **/
.footer
{
    display: grid;
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 45px;
    grid-template-columns: repeat(3, 1fr);
}

.containerfooter1
{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    margin-left: 50px;
}

.containerfooter2
{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
}

.containerfooter3
{
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    
}

.titlefooter
{
    font-family: "Ralewaybold";
    margin-bottom: 20px;
    font-size: 1.1em;
}

.elementfooter
{
    font-family: "Raleway";
    margin-bottom: 10px;
    font-size: 1.1em;
}

.elementfooter:hover
{
    text-decoration: underline;
}